body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    background-color: #f2f2f2;
    border-radius: 10px;
    height: 100vh;
    margin: 0;

}

i {
    font-size: 30px;
}

label {
    font-size: 28px;
}


.fa.fa-twitter {
    color: #1DA1F2;
    position: relative;
    right: 40px;
    top: 65px;
    /*  posicion twitter */
    margin: 0px;
    padding: 0px;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

#agregar {
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 22px;
    transition: background-color 0.3s ease;
}

#agregar:hover {
    background-color: #ebbf31;
}

nav {
    background-color: #3498db;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #98d6ff;
    text-decoration: none;
    padding: 0 20px;
    margin: -20px 20px;
    font-weight: bold;
}

nav a:hover {
    color: #ffffff;
}

.buscador {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.buscador input {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: #3498db;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 5px solid #ffffff;
    outline: none;
}

input[type=text]:focus {
    border: 5px solid #555;
}

.buscador input:focus {
    border-color: #3498db;
    animation: parpadeo 1s infinite;
}

.contenedor {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    opacity: 0.85;
}

header {
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
    padding: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.agregar-contenedor {
    width: 550px;
    margin: auto;
    border: 1px solid #3498db;
    margin-top: 40px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contenido {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    max-height: 63vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #3498db #f2f2f2;
}

.contenido div {
    margin: 15px auto;
}

.contenido img {
    transition: transform 0.3s ease;
    overflow: hidden;
}

.contenido img:hover {
    transform: scale(1.1) rotate(360deg);
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #3498db;
}

.contenido::-webkit-scrollbar {
    width: 12px;
}

.contenido::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 6px;
}

.contenido::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo-container img {
    width: 60px;
    height: 60px;
    border-radius: 5%;
}

.tarjeta {
    display: flex;
    width: 80%;
    height: 70%;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tarjeta p {
    margin: 7px;
    display: flex;

}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-top: 25%;
    /* Posicion avatar imagen*/
    border-radius: 50%;
}

.contenido-tarjeta {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    position: relative;
    bottom: 15px;
    /*  posicion datos carta*/


}

.encabezado {
    text-align: center;
    background-color: #3498db;
    color: #ffffff;
    border-bottom: 1px solid #2980b9;
    border-radius: 0 10px 10px 0;
    padding: 10px;
}

.twitter {
    color: #3498db;
}

.perfil-profesional {
    color: #2ecc71;
    font-weight: bold;
}

@keyframes parpadeo {

    0%,
    100% {
        border-color: #2ecc71;
    }

    50% {
        border-color: transparent;
    }
}