body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    background-color: #f2f2f2;
    border-radius: 10px;
    height: 100vh;
    margin: 0;

}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

#agregar {
    width: 93%;
    margin: 15px 20px 0;
    padding: 10px;
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
    transition: background-color 0.3s ease;
}

#agregar:hover {
    background-color: #ebbf31;
}

.contenedor {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    opacity: 85%;
    margin-bottom: 10px;
}

nav {
    background-color: #3498db;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #98d6ff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: #ffffff;
}

.buscador {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.buscador input {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: #3498db;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 5px solid #ffffff;
    outline: none;
}

input[type=text]:focus {
    border: 5px solid #555;
}

.buscador input:focus {
    border-color: #3498db;
    animation: parpadeo 1s infinite;
}

header {
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    /*margin-top: 40px;
    padding: 10px 0;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.agregar-contenedor {
    border: 1px solid #3498db;
    margin-top: 40px;
    margin-top: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contenido {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*border: 1px solid #3498db;
    padding-top: 20px;*/
    margin: 0 0;
    max-height: 70vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #3498db #f2f2f2;
}

.contenido button {
    transition-duration: 0.4s;
    background-color: #04AA6D;
    border: 1px solid #04AA6D;
    border-radius: 10px;
    width: 100px;
    height: 28px;
    font-size: 18px;
    color: white;
}

.contenido button:hover {
    background-color: white;
    color: black;
}

.contenido img {
    transition: transform 0.3s ease;
    overflow: hidden;
}

.contenido img:hover {
    transform: scale(1.1) rotate(360deg);
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #3498db;
}


/* Estilos específicos para navegadores WebKit (Chrome, Safari) */
.contenido::-webkit-scrollbar {
    width: 12px;
}

.contenido::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 6px;
}

.contenido::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo-container img {
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.tarjeta {
    display: flex;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.contenido-tarjeta {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}

.encabezado {
    text-align: center;
    background-color: #3498db;
    color: #ffffff;
    border-bottom: 1px solid #2980b9;
    border-radius: 0 10px 10px 0;
    padding: 10px;
}

.twitter {
    color: #3498db;
    margin-top: 10px;
}

.perfil-profesional {
    color: #2ecc71;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #3498db;
}

th {
    background-color: #3498db;
    color: #ffffff;
}

tr:hover {
    background-color: #f5f5f5;
}

#Conf_Asistencia {
    max-width: 40%;
    border-radius: 15px;
}

#Conf_Asistencia::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
}

@keyframes parpadeo {

    0%,
    100% {
        border-color: #2ecc71;
    }

    50% {
        border-color: transparent;
    }
}